@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f8fc;
}

img {
  max-width: 100%;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.birthdayCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 2rem 0;
  padding: 0rem 1rem;
  border-left: 5px black solid;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
}

.userDetail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.birthdayCard img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* .birthdayCard .userInfo {
  padding: 0;
  margin: 0;
} */

.btn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  border: none;
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 27px;
  cursor: pointer;
}
